<% 
  total_spent_time = t('.total_spent_time')
  periods_count = t('.periods_count')
%>

<%= javascript_tag do %>
  const colorsHex = <%= TAILWIND_COLORS_HEX.to_json.html_safe %>;
  totalSpentTimeText = '<%= total_spent_time %>';
  periodsCountText = '<%= periods_count %>';
<% end %>

<%= render 'shared/tabs' do %>
  <%= render 'shared/tab', state: 'active', aria_controls: 'main-board', content: t('.overview') %>
  <%= render 'shared/tab', state: 'inactive', aria_controls: 'days-in-year', content: t('.by_days') %>
<% end %>

<div id="main-board">
  <div class="border border-gray-200 rounded-xl shadow-md mt-4">
    <div class="flex flex-col space-y-1.5 p-6">
      <h3 class="font-semibold leading-none tracking-tight"><%= t('.month_activity') %></h3>
      <p class="text-xs text-gray-500"><%= t('.month_activity_description') %></p>
    </div>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-6 pt-0">
      <div class="hidden lg:block col-span-1">
        <%= render 'analytics/month_activity', month: Date.today << 3 %>
      </div>
      <div class="hidden md:block col-span-1">
        <%= render 'analytics/month_activity', month: Date.today << 2 %>
      </div>
      <div class="hidden sm:block col-span-1">
        <%= render 'analytics/month_activity', month: Date.today.prev_month %>
      </div>
      <div class="col-span-1">
        <%= render 'analytics/month_activity', month: Date.today.beginning_of_month %>  
      </div>
    </div>
  </div>
  
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div data-controller="chart-donut-time-categories" class="w-full col-span-3 md:col-span-1 bg-white border border-gray-200 rounded-xl shadow-md mt-4">
      <div class="flex flex-col space-y-4 p-6">
        <h3 class="font-semibold leading-none tracking-tight"><%= t('.time_by_categories') %></h3>
        <div class="flex items-center gap-4">
          <select id="time-categories-time-period" 
                  name="time-categories-time-period" 
                  class="block w-full pl-2 pr-4 py-1 text-xs text-gray-500 border-gray-200 rounded-md"
                  data-chart-donut-time-categories-target="timePeriod" 
                  data-action="change->chart-donut-time-categories#timePeriodChanged">
            <option value="all_time" selected><%= t('.all_time') %></option>
            <option value="last_30_days"><%= t('.last_30_days') %></option>
            <option value="last_7_days"><%= t('.last_7_days') %></option>
          </select>
          <select id="time-categories-category-level" 
                  name="time-categories-category-level" 
                  class="block w-full pl-2 pr-4 py-1 text-xs text-gray-500 border-gray-200 rounded-md"
                  data-chart-donut-time-categories-target="categoryLevel" 
                  data-action="change->chart-donut-time-categories#categoryLevelChanged">
            <option value="top_level" selected><%= t('.top_level') %></option>
            <option value="lower_level"><%= t('.lower_level') %></option>
          </select>
        </div>
      </div>
      <div class="mb-6" id="donut-time-categories"></div>
    </div>
  
    <div data-controller="chart-bar-hourly-activity" class="w-full col-span-3 md:col-span-2 bg-white border border-gray-200 rounded-xl shadow-md mt-4">
      <div class="flex flex-col space-y-4 p-6">
        <div class="flex items-center justify-between gap-4">
          <div class="flex flex-col space-y-1.5">
            <h3 class="font-semibold leading-none tracking-tight"><%= t('.hourly_activity') %></h3>
            <p class="text-xs text-gray-500"><%= t('.hourly_activity_description') %></p>
          </div>
          <select id="hourly-activity-time-period" 
                  name="hourly-activity-time-period" 
                  class="z-20 block w-44 pl-2 pr-4 py-1 text-xs text-gray-500 border-gray-200 rounded-md"
                  data-chart-bar-hourly-activity-target="timePeriod" 
                  data-action="change->chart-bar-hourly-activity#timePeriodChanged">
            <option value="all_time" selected><%= t('.all_time') %></option>
            <option value="last_30_days"><%= t('.last_30_days') %></option>
            <option value="last_7_days"><%= t('.last_7_days') %></option>
          </select>
        </div>
      </div>
      <div id="bar-hourly-activity" class="px-6 -mt-12"></div>
    </div>
  </div>
</div>

<div id="days-in-year" class="hidden border border-gray-200 rounded-xl shadow-md p-6 mt-4">
  <div class="flex flex-col space-y-1.5">
    <h3 class="font-semibold leading-none tracking-tight"><%= t('.days_by_year_title') %></h3>
    <p class="text-xs text-gray-500"><%= t('.days_by_year_desc') %></p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <% @days_in_year_data.each do |category_name, months_data| %>
      <% filled_days_count = filled_days_count(months_data) %>
      <div class="col-span-1 mt-4">
        <div class="flex items-center gap-3">
          <span class="text-sm font-medium"><%= category_name %></span>
          <span class="text-xs font-medium text-gray-400">
            <%= filled_days_count %> / <%= days_passed_in_year %>
            (<%= (filled_days_count.to_f / days_passed_in_year.to_f * 100).round(0) %>%)
          </span>
        </div>
        <div class="mt-2">
          <div class="flex flex-col space-y-0.2">
            <% (1..12).each do |month| %>
              <div class="flex items-center gap-2">
                <span class="text-3xs leading-none text-gray-400 font-medium w-2 text-right">
                  <%= month.to_s.rjust(2, '0') %>
                </span>
                <div class="flex gap-0.2">
                  <% days = formatted_month_days(months_data, month) %>
                  
                  <% (1..Time.days_in_month(month, Time.current.year)).each do |day| %>
                    <% status = days[day.to_s.rjust(2, '0')] || nil %>
                    <% date = Date.new(Time.current.year, month, day) %>
                    <div class="w-2 md:w-2.5 h-2.5 bg-<%= day_color_by_status(status, date) %>"></div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

