
<div class="mt-8 text-sm">Month activity</div>
<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-2">
  <div class="hidden lg:block col-span-1">
    <%= render 'analytics/month_activity', month: Date.today << 3 %>
  </div>
  <div class="hidden md:block col-span-1">
    <%= render 'analytics/month_activity', month: Date.today << 2 %>
  </div>
  <div class="hidden sm:block col-span-1">
    <%= render 'analytics/month_activity', month: Date.today.prev_month %>
  </div>
  <div class="col-span-1">
    <%= render 'analytics/month_activity', month: Date.today.beginning_of_month %>  
  </div>
</div>

<div class="grid grid-cols-3">
  <div id="heat-chart" class="col-span-2"></div>
</div>
<%= current_user.average_hourly_activity.keys.to_json %>
<%= current_user.average_hourly_activity.values.to_json %>

<script>
  const categories = <%= current_user.average_hourly_activity.keys.to_json.html_safe %>;
  const series = <%= current_user.average_hourly_activity.values.to_json.html_safe %>;
  var options = {
      series: [{
      name: 'Periods count',
      data: series,
    }],
    chart: {
      height: 200,
      type: 'bar',
      stacked: true,
      toolbar: {
        show: false,
      }
    },
    grid: {
      show: false,
    },
    plotOptions: {
      bar: {
        columnWidth: '90%',
        horizontal: false,
        borderRadius: 5,
        dataLabels: {
          show: false,
        },
      }
    },
    dataLabels: {
      enabled: false,
    },
    
    xaxis: {
      labels: {
        show: false,
      },
      categories: categories,
      position: 'bottom',
      axisBorder: {
        show: false
      },
      axisTicks: {
        show: false
      },
      crosshairs: {
        fill: {
          type: 'gradient',
          gradient: {
            colorFrom: '#D8E3F0',
            colorTo: '#BED1E6',
            stops: [0, 100],
            opacityFrom: 0.4,
            opacityTo: 0.5,
          }
        }
      },
      tooltip: {
        enabled: true,
      }
    },
    yaxis: {
      axisBorder: {
        show: false
      },
      axisTicks: {
        show: false,
      },
      labels: {
        show: false,
      },
    }
  };

  var chart = new ApexCharts(document.querySelector("#heat-chart"), options);
  chart.render();

</script>