<div class="flex items-center space-x-4 p-3.5 rounded-full bg-gray-100" id="category-card-<%= category.id %>">
  <span class="flex items-center justify-center w-10 h-10 shrink-0 rounded-full bg-white text-gray-900">
    <% unless category.calculated(current_user) %>
      <%= inline_svg('icons/folder.svg', class: 'w-5 h-5 fill-current text-black') %>
    <% end %>
  </span>
  <div class="flex flex-col flex-1">
    <div class="text-sm font-medium text-left"><%= link_to category.name, category_path(category) %></div>
    <div class="divide-x divide-gray-200 mt-auto">
      <% if category.calculated(current_user) %>
        <span class="inline-block px-3 text-xs leading-none text-gray-400 font-normal first:pl-0">
          Periods: <%= category.periods.count %>
        </span>
      <% end %>
      <span class="inline-block px-3 text-xs leading-none text-gray-400 font-normal first:pl-0">
        Total: <%= category.formatted_total_time %>
      </span>
      <span class="inline-block px-3 text-xs leading-none text-gray-400 font-normal first:pl-0">
        <%= link_to 'Edit', edit_category_path(category) %>
      </span>
      <span class="inline-block px-3 text-xs leading-none text-red-400 font-normal first:pl-0">
        <%= button_to 'Delete', category_path(category), method: :delete, data: { turbo: false } %>
      </span>
    </div>
  </div>
  <% if period %>
    <%= form_with url: '/periods/stop', method: :post, data: { turbo_stream: true } do |f| %>
      <%= f.hidden_field :category_id, name: 'period[category_id]', value: category.id %>
      <%= f.hidden_field :start, name: 'period[start]', value: period.start_in_zone, id: 'period_start' %>
      <%= f.hidden_field :period_id, value: period.id %>
      <div class="flex rounded-full bg-white px-3 py-2 gap-2">
        <div data-controller="timer" class="flex items-center">
          <span data-timer-target="output">00:00:00</span>
        </div>
        <%= button_tag type: 'submit', id: "category-stop-#{category.id}" do %>
          <div class="px-1 py-1 font-semibold text-sm bg-red-500 text-white rounded-full shadow-sm">
            <%= inline_svg('icons/stop.svg', class: 'w-6 h-6') %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% if category.calculated(current_user) && !unfinished_period %>
      <%= form_with url: '/periods/run', method: :post, data: { turbo_stream: true }, class: 'flex items-center' do |f| %>
        <%= f.hidden_field :category_id, value: category.id, name: 'period[category_id]' %>
        <%= button_tag type: 'submit', id: "category-start-#{category.id}" do %>
          <div class="px-4 py-1 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm">
            <%= inline_svg('icons/play.svg', class: 'w-6 h-6') %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>