<div id="modal_content">
  <%= form_with model: report, method: :post do |f| %>
    <div>
      <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
        <%= inline_svg('icons/note-favorite.svg', class: 'h-6 w-6 text-green-600') %>
      </div>
      <div class="mt-3 text-center sm:mt-5">
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title"><%= category.name %></h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500"><%= t('.new_report_text') %></p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8 mb-4">
      <%= render 'shared/error_messages', resource: report %>
      <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
        <%= f.label :start_date, t('.start'), class: 'absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900' %>
        <%= f.text_field :start_date, data: { controller: 'flatpickr' }, value: report.start_date ? format_utc_datetime(report.start_date.in_time_zone) : nil, class: 'block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm' %>
      </div>
    
      <div class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
        <%= f.label :end_date, t('.end'), class: 'absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900' %>
        <%= f.text_field :end_date, data: { controller: 'flatpickr' }, value: report.end_date ? format_utc_datetime(report.end_date.in_time_zone) : nil, class: 'block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm' %>
      </div>
      <%= f.hidden_field :category_id, value: category.id %>
    </div>
    <div class="mt-12 mb-4 flex flex-wrap sm:flex-nowrap items-center justify-center gap-4 px-4">
      <button data-action="click->modal#hide" type="button" class="w-24 inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm"><%= t(:cancel) %></button>
      <button type="submit" class="w-40 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm"><%= t(:create) %></button>
    </div>
  <% end %>
</div>