<%= render 'categories/timeline', categories_for_timeline: @categories_for_timeline %>


<div class="mt-6 sm:flex sm:items-center sm:justify-between">
  <div class="flex items-center text-xs leading-6 text-neutral-700">
    <h2 class="text-lg text-neutral-600 font-semibold"><%= t('.categories') %></h2>
    <h3 class="pl-6 flex text-sm items-center text-neutral-500">
      <%= inline_svg('icons/clock.svg', class: "w-4 h-4 fill-current text-gray-400 mr-2 mt-0.5") %>
      <%= @total_time_for_today %>&nbsp;<%= t('.spent_today') %>
    </h3>
  </div>
  <div class="mt-3 sm:mt-0 sm:ml-4">
    <% if @categories.size > 0 %>
      <%= link_to new_category_path, class: 'inline-flex items-center py-1 pl-2 pr-3 text-xs border-2 border-purple-600 text-purple-600 rounded-lg gap-1 justify-center' do %>
        <%= inline_svg('icons/add.svg', class: 'w-6 h-6 fill-current text-purple-600') %>
        <%= t('.new_category') %>
      <% end %>
    <% end %>
  </div>
</div>

<% if @categories.size == 0 %>
  <%= link_to new_category_path, class: 'relative block w-full border-2 border-gray-300 border-dashed rounded-lg mt-4 p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' do %>
  <%= inline_svg('icons/folder-plus.svg', class: 'w-12 h-12 stroke-gray-500 mx-auto') %>
    <span class="mt-2 block text-sm font-medium text-gray-900"><%= t('.create_a_new_category') %></span>
    <div class="mt-4">
      <div class="inline-flex items-center py-1 pl-2 pr-3 text-xs border-2 border-purple-600 text-purple-600 rounded-lg gap-1 justify-center">
        <%= inline_svg('icons/add.svg', class: 'w-6 h-6 fill-current text-purple-600') %>
        <%= t('.new_category') %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render 'categories/categories_list', categories: @categories, unfinished_period: @unfinished_period %>
<% end%>