<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
  <div class="col-span-1">
    <div class="flex items-end gap-8">
      <div class="text-6xl font-semibold tracking-tight"><%= @category.name %></div>
      <div class="w-72 text-sm text-gray-700 mb-1">Вы уделяете на 26% меньше внимания этой категории чем другим.</div>
    </div>
    <div class="grid grid-cols-2 gap-x-4 gap-y-6">
      <div class="col-span-1 shadow rounded-xl p-3 bg-white">
        <h3 class="flex items-center">
          <%= inline_svg('icons/clock.svg', class: "w-5 h-5 fill-current text-gray-400 mr-2 mt-1.5") %>
          <div>
            <span class="text-md font-semibold"><%= @total_time %></span>
            <div class="text-xs text-neutral-500">
              <%= t('.spent_over_time') %>
            </div>
          </div>
        </h3>
      </div>
      <div class="col-span-1 shadow rounded-xl p-3 bg-white">
        <h3 class="flex items-center">
          <%= inline_svg('icons/clock.svg', class: "w-5 h-5 fill-current text-gray-400 mr-2 mt-1.5") %>
          <div>
            <span class="text-md font-semibold"><%= @avg_time %></span>
            <div class="text-xs text-neutral-500">
              <%= t('.avg_daily') %>
            </div>
          </div>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-span-1">
    <div class="border border-gray-200 rounded-xl shadow bg-white">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="font-semibold leading-none tracking-tight"><%= t('analytics.index.month_activity') %></h3>
        <p class="text-xs text-gray-500"><%= t('analytics.index.month_activity_description') %></p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-6 pt-0">
        <div class="hidden sm:block col-span-1">
          <%= render 'analytics/month_activity', month: Date.today.prev_month, category: @category %>
        </div>
        <div class="col-span-1">
          <%= render 'analytics/month_activity', month: Date.today.beginning_of_month, category: @category %>  
        </div>
      </div>
    </div>
  </div>
</div>

