<% error ||= false %>
<div id="report-content">
  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t('.enter_password') %></h3>
      <div class="mt-2 max-w-xl text-sm text-gray-500">
        <p><%= t('.enter_password_text') %></p>
      </div>
      <% if error %>
        <div class="mt-2 max-w-xl text-sm text-red-500">
          <p><%= t('.wrong_password') %></p>
        </div>
      <% end %>
      <%= form_with url: access_report_report_path(report), method: :post, class: 'mt-5 sm:flex sm:items-center', data: { turbo: true, turbo_stream: true } do |f| %>
        <div class="w-full sm:max-w-xs">
          <%= f.text_field :pass, class: 'shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md' %>
        </div>
        <button type="submit" class="mt-3 w-full inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"><%= t('.confirm') %></button>
      <% end %>
    </div>
  </div>
</div>