<main>
  <div class="pt-10 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden z-10">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8">
        <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
          <div class="lg:py-24">
            <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-black sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
              <span class="block"><%= t('.time_tracking') %></span>
              <span class="block text-indigo-400"><%= t('.for_any_task') %></span>
            </h1>
            <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
              <%= t('.organize_your_tasks') %>
            </p>
            <div class="mt-10 sm:mt-12">
              <div class="sm:max-w-xl sm:mx-auto lg:mx-0">
                <div class="mt-3 sm:mt-0">
                  <%= link_to new_user_registration_path, class: "block w-full py-3 px-4 rounded-md shadow bg-indigo-500 text-white font-medium hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300 focus:ring-offset-gray-900" do %>
                  <div class="w-full flex justify-center">
                    <%= t(:sign_up) %>
                  </div>
                  <% end %>
                </div>
                <p class="mt-3 text-sm text-gray-500 sm:mt-4">
                  <%= t('.unlock_full_teatures') %>
                </p>
              </div>
            </div>
            <a href="https://github.com/mkskovalev/timetrackr" class="inline-flex items-center text-white bg-black rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base hover:text-gray-200 mt-8">
              <span class="px-3 py-0.5 text-white text-xs font-semibold leading-5 uppercase tracking-wide bg-indigo-500 rounded-full">
                <%= t('.opensourced') %>
              </span>
              <span class="flex items-center gap-2 ml-4 text-sm">
                <%= inline_svg('icons/github.svg', class: 'w-4 h-4') %>
                <%= t('.explore_github') %>
              </span>
              <!-- Heroicon name: solid/chevron-right -->
              <svg class="ml-2 w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
        <div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
            <%= image_tag("main_screen.png", alt: "TimeTrackr.dev", class: "w-full lg:absolute lg:inset-y-0 lg:left-0 h-full lg:w-auto lg:max-w-none rounded-lg") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white border-t border-gray-200 overflow-hidden relative z-20 mt-12 mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
    <div class="relative max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
      <svg class="absolute top-0 left-full transform -translate-x-1/2 -translate-y-3/4 lg:left-auto lg:right-full lg:translate-x-2/3 lg:translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
        <defs>
          <pattern id="8b1b5f72-e944-4457-af67-0c6d15a99f38" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#8b1b5f72-e944-4457-af67-0c6d15a99f38)" />
      </svg>

      <div class="relative lg:grid lg:grid-cols-3 lg:gap-x-8">
        <div class="lg:col-span-1">
          <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl"><%= t('.optimize_work') %></h2>
        </div>
        <dl class="mt-10 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-8 sm:gap-y-10 lg:mt-0 lg:col-span-2">
          <% professions.each do |profession| %>
            <div>
              <dt>
                <div class="flex items-center justify-center h-16 w-16 rounded-md bg-gray-100 text-white">
                  <%= image_tag("#{profession}.png", alt: t(".for_#{profession}_title"), class: "w-12 h-12") %>
                </div>
                <p class="mt-5 text-lg leading-6 font-bold text-gray-900"><%= t(".for_#{profession}_title") %></p>
                <p class="mt-2 text-lg leading-6 font-medium text-gray-900"><%= t(".for_#{profession}_subtitle") %></p>
              </dt>
              <dd class="mt-2 text-base text-gray-500"><%= t(".for_#{profession}_text") %></dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>
  </div>

  <div class="relative bg-gray-50 pt-12 sm:pt-16 lg:pt-24">
    <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
      <div>
        <h2 class="text-base font-semibold tracking-wider text-indigo-600 uppercase"><%= t('.analytics') %></h2>
        <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl"><%= t('.analytics_title') %></p>
        <p class="mt-5 max-w-prose mx-auto text-md text-gray-500"><%= t('.analytics_text') %></p>
      </div>
      <div class="my-12">
        <%= image_tag("analytics_screen.png", alt: t('.analytics_title'), class: "rounded-lg shadow-xl ring-1 ring-black ring-opacity-5") %>
      </div>
    </div>
  </div>

  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="bg-indigo-700">
    <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
        <span class="block"><%= t('.boost_productivity') %></span>
        <span class="block"><%= t('.start_using') %></span>
      </h2>
      <p class="mt-4 text-lg leading-6 text-indigo-200"><%= t('.start_using_text') %></p>
      <%= link_to new_user_registration_path, class: "mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50 sm:w-auto" do %>
      <div class="w-full flex justify-center">
        <%= t(:sign_up_for_free) %>
      </div>
      <% end %>
    </div>
  </div>
</main>
