<div class="px-2 mb-2">
  <%= button_to destroy_user_session_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md w-full', method: :delete do %>
    <%= inline_svg('icons/logout.svg', class: 'fill-current text-gray-300 mr-4 shrink-0 h-6 w-6') %>
    <%= t(:sign_out) %>
  <% end %>
</div>

<% if current_user.admin? %>
  <div class="shrink-0 flex bg-purple-600 p-4">
    <a href="<%= admin_btn_settings[:path] %>" class="shrink-0 w-full group block">
      <div class="flex items-center">
        <div>
          <%= inline_svg('icons/user-octagon.svg', class: 'text-gray-300 shrink-0 h-6 w-6') %>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-white"><%= admin_btn_settings[:btn_text] %></p>
        </div>
      </div>
    </a>
  </div>
<% end %>

<div class="shrink-0 flex bg-gray-700 p-4">
  <a href="<%= profile_path %>" class="shrink-0 w-full group block">
    <div class="flex items-center">
      <div>
        <%= inline_svg('icons/user-circle.svg', class: 'inline-block h-9 w-9 rounded-full text-white') %>
      </div>
      <div class="ml-3">
        <p class="text-sm font-medium text-white"><%= current_user.email %></p>
        <p class="text-xs font-medium text-gray-300 group-hover:text-gray-200"><%= t('.view_profile') %></p>
      </div>
    </div>
  </a>
</div>